body {
	font-size: 14px;
	margin: 0 5px;
}
h1,h2 {
	margin: 0;
	text-align: center;
}
p {
	font-size: 16px;
}

.material-icons {
	font-size:inherit;
	transform: translateY(2px);
}
pre {
	margin:5px 0;
}
