
.histogram .settings {
	text-align: center;
	margin-bottom: 10px;
}
.histogram .settings label {
	margin-right: 10px;
}

.histogram .chart {
	width: 70%;
	display: block;
	margin: auto;
}
.histogram .chart line {
	stroke: black;
	stroke-width: 1;
}

.histogram .chart text {
	font-size: 30px;
}

.histogram .chart .levelLines line {
	 stroke: gray;
}

.histogram .chart .dragButton {
	stroke: black;
	fill: white;
	stroke-width: 3;
	cursor: pointer;
}

.histogram .chart .draggingLine line{
	stroke-dasharray:5, 5;
}
